
<h3><a href="/"> Home </a></h3> 
    <br>
<h3><a href="/celebrities"> Celebrities List </a></h3>
    <br>
<h1> This is the  {{celeb.name}} page </h1>

<div> 
<div>
        <br>
        <br>
        <h4> 
        {{celeb.name}} is an incredible {{celeb.occupation}} from Ecuador.
        </h4>
        <br>

        </div>

<div>

        <br>
        {{celeb.name}} loves to pull out his signature phrase:
        <br>
    <h4>
    <strong> {{celeb.catchPhrase}} </strong>  
    </h4>
    </div>

</div>

